#container{
    text-align: center;
    background-color:antiquewhite;
}

.box1{
    position: relative;
    right: 100px;
    top: 100px;
}

.box2{
    position: relative;
    left: 100px;
    bottom: 120px;
}

h1{
    font-style: italic;
    
    
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
}
